body {
    font-family: Arial, sans-serif;
    padding: 50px;
    max-width: 600px;
    margin: auto;
    background-color:rgb(104, 210, 245); /* Change the background color */
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace; /* Change the font family to Arial, sans-serif */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px; /* Change the border-radius */
}